body{	
	  background: #333 none repeat scroll 0 0;
}
.navbar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edecec+0,cecece+99 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,eeedee+99 */
background: rgb(251,251,251); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(251,251,251,1) 0%, rgba(238,237,238,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(238,237,238,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(251,251,251,1) 0%,rgba(238,237,238,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#eeedee',GradientType=0 ); /* IE6-9 */

}
.navbar-inner{
	 background-color: #1f1f1f;
}
.body-nav.body-nav-horizontal {
    background-color: #3d3d3d;
}
#left {
	background-color: #3d3d3d !important;

}
.breadcrumb > li{
	text-shadow: none;
}
.breadcrumb li > a, .breadcrumb .active{
	color: #fff;	
}
.application-footer {
  background-color: #1f1f1f;
}
.nav-dropdown {
	  background-color: #3d3d3d;
}
.border-btm {
    border-bottom: 2px dashed #E1E1E1;
}
.nav-menu > .has-dropdown ul li {
    border-bottom: 1px solid #858585;
}

.tabs-wrapper #tabs #current a,
.tabs-wrapper #tabs #current a::after {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2ceca+0,140a0a+99 */
background: rgb(194,206,202); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(194,206,202,1) 0%, rgba(20,10,10,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(194,206,202,1) 0%,rgba(20,10,10,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(194,206,202,1) 0%,rgba(20,10,10,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ceca', endColorstr='#140a0a',GradientType=0 ); /* IE6-9 */


  z-index: 3;
  color: #fff;

}

.tabs-wrapper #tabs a:hover,
.tabs-wrapper #tabs a:hover::after,
.tabs-wrapper #tabs a:focus,
.tabs-wrapper #tabs a:focus::after {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2ceca+0,140a0a+99 */
background: rgb(194,206,202); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(194,206,202,1) 0%, rgba(20,10,10,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(194,206,202,1) 0%,rgba(20,10,10,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(194,206,202,1) 0%,rgba(20,10,10,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ceca', endColorstr='#140a0a',GradientType=0 ); /* IE6-9 */


color: #fff;

}

.panel-heading {
  background-color: #140a0a;
}
.application-footer  .container{
	background-image: url("../images/footer-bg.png");
	background-position: 0 0;
	background-repeat: repeat;
}
.application-footer {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefee+0,cdcecd+100 */
background: rgb(239,239,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,239,238,1) 0%, rgba(205,206,205,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(239,239,238,1) 0%,rgba(205,206,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(239,239,238,1) 0%,rgba(205,206,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefee', endColorstr='#cdcecd',GradientType=0 ); /* IE6-9 */
color: #000;
border-top: 2px solid #009fb7;
}